/* .grid-container {
    display: grid;
    grid-template-areas:
      'title title search search search search';
    grid-gap: 10px;
    background-color: rgb(233, 236, 240);
    padding: 10px;
  }

.item1 { grid-area: search;
    background-color: white;
    border-radius: 10px;
    margin: 0px 120px 0px 120px; 
}
.item2 { grid-area: title;
    background-color: white;
    width: 20vw;
position: absolute; } */
